@page
@model Auction_Website.UI.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="register-container card shadow p-4">
        <h2 class="text-center">Register</h2>

        <form method="post" id="registerForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Input.UserName" class="form-label">Username</label>
                <input asp-for="Input.UserName" class="form-control" placeholder="Choose a username" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.Email" class="form-label">Email Address</label>
                <input asp-for="Input.Email" class="form-control" type="email" placeholder="Enter your email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Input.FirstName" class="form-label"></label>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="First name" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Input.LastName" class="form-label"></label>
                        <input asp-for="Input.LastName" class="form-control" placeholder="Last name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3 position-relative">
                <label asp-for="Input.Password" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input asp-for="Input.Password" class="form-control pr-5" type="password" placeholder="Enter your password" id="password" />
                </div>
                <i class="fa-solid fa-eye-slash toggle-icon" onclick="togglePasswordVisibility('password', this)"></i>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 position-relative">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input asp-for="Input.ConfirmPassword" class="form-control pr-5" type="password" placeholder="Confirm your password" id="confirmPassword" />
                </div>
                <i class="fa-solid fa-eye-slash toggle-icon" onclick="togglePasswordVisibility('confirmPassword', this)"></i>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success w-100">
                <i class="fa-solid fa-user-plus p-1"></i> Register
                </button>
        </form>

        <div class="text-center mt-3">
            <p>Already have an account? <a asp-page="./Login">Log in</a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $("#registerForm").validate();

            $("input").on("blur", function () {
                $(this).valid();
            });

            $("input").on("input", function () {
                let inputField = $(this);
                let errorSpan = inputField.next(".text-danger");
            });

            $("#registerForm").submit(function (e) {
                if (!$(this).valid()) {
                    e.preventDefault();
                }
            });
        });

        function togglePasswordVisibility(fieldId, icon) {
            var field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            } else {
                field.type = "password";
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            }
        }
    </script>

}

<style>
    .position-relative {
        position: relative;
    }
    input.pr-5 {
        padding-right: 3rem;
    }
    .toggle-icon {
        position: absolute;
        top: 70%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #6c757d;
        z-index: 100;
    }
</style>